
<div class="wrapper" ng-controller="MainCtrl as user">
  <div class="header">
    <h1 class="name" spellcheck="false">
      <span class="first-name">{{user.name.first}}</span>
      <span class="last-name">{{user.name.last}}</span>
    </h1>
    <h3 class="career">
      {{user.career}}
    </h3>
    <ul class="contact">
      <li class="link"><a href="http://{{user.link}}" target="_blank">{{user.link}}</a></li>
      <li class="mail"><a href="mailto:{{user.mail}}">{{user.mail}}</a></li><!--
      <li class="phone"><a href="tel:"></a></li> -->
      <li class="github"><a href="https://github.com/{{user.github}}" target="_blank">{{user.github}}</a></li>
    </ul>
  </div>
  <div class="test">
  <div class="main">
    <div class="left-column">
      <section ng-repeat="sec in user.lcol">
        <h2><span>{{sec.title}}</span></h2>
        <ul class="timeline">
          <li class="entry" ng-repeat="item in sec.items">
            <h3>{{item.title}}</h3>
            <h4>{{item.company}} <small>{{item.start}} - {{item.end}}</small></h4>
            <ul ng-repeat="bullet in item.description">
              <li>{{bullet}}</li>
            </ul>
          </li>
        </ul>
      </section>

    </div>
    <div class="right-column">
      <section ng-show="user.rcol.summary">
        <h2><span>Summary</span></h2>
        <blockquote>
          {{user.rcol.summary}}
        </blockquote>
      </section>
      <!-- <section ng-repeat="list in user.rcol.lists">
        <h2><span></span></h2>
      </section> -->
      <!-- <section>
        <h2><span>Coding Skills</span></h2>
        <ul class="skills">
          <li>
            <span>HTML5/CSS3</span>
            <img src="assets/images/score/score10.svg" alt="score">
          </li>
          <li>
            <span>javascript</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
          <li>
            <span>Canvas</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>NodeJS</span>
            <img src="assets/images/score/score5.svg" alt="score">
          </li>
          <li>
            <span>AngularJS</span>
            <img src="assets/images/score/score7.svg" alt="score">
          </li>
          <li>
            <span>PHP/MySQL</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
        </ul>
      </section>
      <section>
        <h2><span>Design Skills</span></h2>
        <ul class="skills">
          <li>
            <span>SketchApp</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>Photoshop</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>Illustrator</span>
            <img src="assets/images/score/score7.svg" alt="score">
          </li>
          <li>
            <span>After Effects</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
          <li>
            <span>Form Prototype</span>
            <img src="assets/images/score/score6.svg" alt="score">
          </li>
        </ul>
      </section> -->
      <section ng-repeat="list in user.rcol.lists">
        <h2><span>{{list.title}}</span></h2>
        <ul class="{{list.type}}">
          <li class="award"b ng-repeat="item in list.items">{{item}}</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="clear"></div>
</div>
