<script type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css"></script>

<div class="wrapper" ng-controller="MainCtrl as user">
  <div class="header" style="margin-top: 15px; height: 153px !important;">
    <div class="row" style="margin-left: 2px;">
      <div class="col-xs-2" style="padding-left: 0; width: 128px; height: 128px; margin-top: 8px;">
        <img style="width: 113px !important; height: 113px !important; border-radius: 8px;" src="http://www.oesd.noaa.gov/scholarships/hollings_scholars/class_2013/kyle_nolan.jpg"/>
      </div>
      <div class="col-xs-10">
        <h1 class="name" spellcheck="false" style="font-size: 64px; text-align: left; margin-top: -10px;">
          <span class="first-name">{{user.name.first}}</span>
          <span class="last-name">{{user.name.last}}</span>
        </h1>
        <h3 class="career" style="font-size: 24px; text-align: left; margin-top: -10px;">
          {{user.career}}
        </h3>
      </div>
    </div>
    <ul class="contact" style="top: 5px;">
      <li class="link"><a href="{{user.linkHref}}" target="_blank">{{user.link}}</a></li>
      <li class="mail"><a href="{{user.mailHref}}" >{{user.mail}}</a></li>
      <li class="phone"><a href="{{user.phoneHref}}">{{user.phone}}</a></li>
      <li class="github"><a href="{{user.githubHref}}" target="_blank">{{user.github}}</a></li>
    </ul>
  </div>
  <div class="hor-line" style="margin-left: 45px; overflow: hidden; height: 10px; width: 1028px; border: 1px dotted;">
    <!--<img src="../assets/images/score/pattern.png" ng-repeat="i in getNumber(numPngs)">-->
  </div>
  <div class="test">
  <div class="main">
    <div class="left-column">
      <section ng-repeat="sec in user.lcol">
        <h2><span>{{sec.title}}</span></h2>
        <ul class="timeline">
          <li class="entry" ng-repeat="item in sec.items">
            <h3>{{item.title}}</h3>
            <h4 style="margin-bottom: 4px;">{{item.company}} <small style="font-size: 16px;">&nbsp;({{item.start}} - {{item.end}})</small></h4>
            <ul ng-repeat="bullet in item.description">
              <li>&bull;&nbsp;{{bullet}}</li>
            </ul>
          </li>
        </ul>
      </section>

    </div>
    <div class="right-column">
      <!-- <section ng-repeat="list in user.rcol.lists">
        <h2><span></span></h2>
      </section> -->
      <!-- <section>
        <h2><span>Coding Skills</span></h2>
        <ul class="skills">
          <li>
            <span>HTML5/CSS3</span>
            <img src="assets/images/score/score10.svg" alt="score">
          </li>
          <li>
            <span>javascript</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
          <li>
            <span>Canvas</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>NodeJS</span>
            <img src="assets/images/score/score5.svg" alt="score">
          </li>
          <li>
            <span>AngularJS</span>
            <img src="assets/images/score/score7.svg" alt="score">
          </li>
          <li>
            <span>PHP/MySQL</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
        </ul>
      </section>
      <section>
        <h2><span>Design Skills</span></h2>
        <ul class="skills">
          <li>
            <span>SketchApp</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>Photoshop</span>
            <img src="assets/images/score/score9.svg" alt="score">
          </li>
          <li>
            <span>Illustrator</span>
            <img src="assets/images/score/score7.svg" alt="score">
          </li>
          <li>
            <span>After Effects</span>
            <img src="assets/images/score/score8.svg" alt="score">
          </li>
          <li>
            <span>Form Prototype</span>
            <img src="assets/images/score/score6.svg" alt="score">
          </li>
        </ul>
      </section> -->
      <section ng-repeat="list in user.rcol.lists">
        <h2><span>{{list.title}}</span></h2>
        <ul class="{{list.type}}">
          <li class="award"b ng-repeat="item in list.items">{{item}}</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="clear"></div>
</div>
